<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>LSC Glendale Menu Online</title>
</head>

<body>
    <div id="container" style="width:1024px">
        <div id="header" style="background-color:white;">
            <!-- 加入了一个表格标签，让返回图标和文字排列的更好看一点，实际上没什么用 -->
            <table>
                <tr>
                    <td>
                        <a href="/menu"><img border="0" src="/image/menuimage/lsclogo.jpg" alt="Home" witdh="64" height="64" /></a>
                    </td>
                    <td><strong>Lzo Sze Chuan Online Menu Presentation</strong></td>
                </tr>
            </table>
        </div>
        <div id="menu" style="background-color:white;height:700px;width:200px;float:left;">
            <iframe src="category/" width="820" height="725" frameborder="0" name="menuframe"></iframe>
        </div>
        <div id="container" style="background-color:white;height:700px;width:824px;float:left;">
            <iframe src="category/1/" width="820" height="725" frameborder="0" name="myframe"></iframe>
        </div>
        <div id="footer" style="background-color:white;text-align:left;">
            <p>Lao Sze Chuan, 152 S Brand Blvd., Glendale CA 91204 Tel: 818-552-8888</p>
        </div>
    </div>

</body>

</html>
